{% spaceless %}

{% if icons is empty %}
	{% set icons = post.meta('social_icons').social_icons %}
{% endif %}
{% if icons %}
<div class="social-header y-5">

	<ul class="list-unstyled mx-0 flex-fill d-flex justify-content-center">
	{% for icon in icons %}
		{% set social_icon = icon.social_icon.value|split('|') %}
		{% set title = icon.social_icon.label %}
		<li><a class="{{ social_icon[0] }}-ic mx-3 p-0" title="{{ title }}" role="button" href="{{ icon.link }}" target="_blank"><i class="fab fa-lg fa-{{ social_icon[1] }}"></i></a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% endspaceless %}