{
  "name": "Repubblika",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/custom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/woocommerce.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"woocommerce.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/acf-blocks.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"acf-blocks.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "sass/style.scss",
      "imports": [
        "sass/variables-site/_variables-site.scss",
        "sass/mixins/_mixins-master.scss",
        "sass/_normalize.scss",
        "sass/typography/_typography.scss",
        "sass/elements/_elements.scss",
        "sass/forms/_forms.scss",
        "sass/navigation/_navigation.scss",
        "sass/modules/_accessibility.scss",
        "sass/modules/_alignments.scss",
        "sass/modules/_clearings.scss",
        "sass/site/secondary/_widgets.scss",
        "sass/site/_site.scss",
        "sass/modules/_infinite-scroll.scss",
        "sass/media/_media.scss",
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_structure.scss",
        "sass/variables-site/_columns.scss",
        "sass/typography/_headings.scss",
        "sass/typography/_copy.scss",
        "sass/elements/_lists.scss",
        "sass/elements/_tables.scss",
        "sass/forms/_buttons.scss",
        "sass/forms/_fields.scss",
        "sass/navigation/_links.scss",
        "sass/navigation/_menus.scss",
        "sass/layout/_content-sidebar.scss",
        "sass/layout/_sidebar-content.scss",
        "sass/site/primary/_posts-and-pages.scss",
        "sass/site/primary/_comments.scss",
        "sass/site/secondary/_cards.scss",
        "sass/media/_captions.scss",
        "sass/media/_galleries.scss",
        "sass/layout/_no-sidebar.scss"
      ]
    },
    {
      "path": "sass/woocommerce.scss",
      "imports": [
        "sass/variables-site/_variables-site.scss",
        "sass/mixins/_mixins-master.scss",
        "sass/shop/_tables.scss",
        "sass/shop/_products.scss",
        "sass/shop/_single-product.scss",
        "sass/shop/_checkout.scss",
        "sass/shop/_components.scss",
        "sass/shop/_widgets.scss",
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_structure.scss",
        "sass/variables-site/_columns.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/mdb.lite.scss",
      "imports": [
        "mdb_pro/scss/core/bootstrap/_functions.scss",
        "mdb_pro/scss/core/bootstrap/_variables.scss",
        "mdb_pro/scss/core/_mixins.scss",
        "mdb_pro/scss/_custom-variables.scss",
        "mdb_pro/scss/core/_colors.scss",
        "mdb_pro/scss/core/_variables.scss",
        "mdb_pro/scss/core/_global.scss",
        "mdb_pro/scss/core/_helpers.scss",
        "mdb_pro/scss/core/_typography.scss",
        "mdb_pro/scss/core/_masks.scss",
        "mdb_pro/scss/core/_waves.scss",
        "mdb_pro/scss/free/_animations-basic.scss",
        "mdb_pro/scss/free/_buttons.scss",
        "mdb_pro/scss/free/_cards.scss",
        "mdb_pro/scss/free/_dropdowns.scss",
        "mdb_pro/scss/free/_input-group.scss",
        "mdb_pro/scss/free/_navbars.scss",
        "mdb_pro/scss/free/_pagination.scss",
        "mdb_pro/scss/free/_badges.scss",
        "mdb_pro/scss/free/_modals.scss",
        "mdb_pro/scss/free/_carousels.scss",
        "mdb_pro/scss/free/_forms.scss",
        "mdb_pro/scss/free/_msc.scss",
        "mdb_pro/scss/free/_footers.scss",
        "mdb_pro/scss/free/_list-group.scss",
        "mdb_pro/scss/free/_tables.scss",
        "mdb_pro/scss/free/_depreciated.scss",
        "mdb_pro/scss/free/_steppers.scss",
        "mdb_pro/scss/free/_loader.scss",
        "mdb_pro/scss/free/_treeview.scss",
        "mdb_pro/scss/pro/_variables.scss",
        "mdb_pro/scss/pro/_buttons.scss",
        "mdb_pro/scss/pro/_social-buttons.scss",
        "mdb_pro/scss/pro/_tabs.scss",
        "mdb_pro/scss/pro/_cards-basic.scss",
        "mdb_pro/scss/pro/_dropdowns.scss",
        "mdb_pro/scss/pro/_navbars.scss",
        "mdb_pro/scss/pro/_scrollspy.scss",
        "mdb_pro/scss/pro/_chips.scss",
        "mdb_pro/scss/pro/_msc.scss",
        "mdb_pro/scss/pro/_forms.scss",
        "mdb_pro/scss/pro/_radio.scss",
        "mdb_pro/scss/pro/_checkbox.scss",
        "mdb_pro/scss/pro/_material-select.scss",
        "mdb_pro/scss/pro/_switch.scss",
        "mdb_pro/scss/pro/_file-input.scss",
        "mdb_pro/scss/pro/_range.scss",
        "mdb_pro/scss/pro/_input-group.scss",
        "mdb_pro/scss/pro/_autocomplete.scss",
        "mdb_pro/scss/pro/_accordion-basic.scss",
        "mdb_pro/scss/pro/_sidenav.scss",
        "mdb_pro/scss/pro/_ecommerce.scss",
        "mdb_pro/scss/pro/_carousels.scss",
        "mdb_pro/scss/pro/_blog.scss",
        "mdb_pro/scss/pro/_toasts.scss",
        "mdb_pro/scss/pro/_animations.scss",
        "mdb_pro/scss/pro/_progress.scss",
        "mdb_pro/scss/pro/_scrollbar.scss",
        "mdb_pro/scss/_custom-skin.scss",
        "mdb_pro/scss/pro/_skins.scss",
        "mdb_pro/scss/pro/_depreciated.scss",
        "mdb_pro/scss/pro/sections/_templates.scss",
        "mdb_pro/scss/pro/sections/_social.scss",
        "mdb_pro/scss/pro/sections/_team.scss",
        "mdb_pro/scss/pro/sections/_testimonials.scss",
        "mdb_pro/scss/pro/sections/_magazine.scss",
        "mdb_pro/scss/pro/sections/_pricing.scss",
        "mdb_pro/scss/pro/sections/_contacts.scss",
        "mdb_pro/scss/addons-pro/_steppers.scss",
        "mdb_pro/scss/addons-pro/_timeline.scss",
        "mdb_pro/scss/addons-pro/_cards-extended.scss",
        "mdb_pro/scss/addons-pro/_chat.scss",
        "mdb_pro/scss/_custom-styles.scss",
        "mdb_pro/scss/pro/_mixins.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/mdb.scss",
      "imports": [
        "mdb_pro/scss/core/bootstrap/_functions.scss",
        "mdb_pro/scss/core/bootstrap/_variables.scss",
        "mdb_pro/scss/core/bootstrap/_rfs.scss",
        "mdb_pro/scss/core/_mixins.scss",
        "mdb_pro/scss/_custom-variables.scss",
        "mdb_pro/scss/core/_colors.scss",
        "mdb_pro/scss/core/_variables.scss",
        "mdb_pro/scss/core/_global.scss",
        "mdb_pro/scss/core/_helpers.scss",
        "mdb_pro/scss/core/_typography.scss",
        "mdb_pro/scss/core/_masks.scss",
        "mdb_pro/scss/core/_waves.scss",
        "mdb_pro/scss/free/_animations-basic.scss",
        "mdb_pro/scss/free/modules/animations-extended/_module.scss",
        "mdb_pro/scss/free/_buttons.scss",
        "mdb_pro/scss/free/_cards.scss",
        "mdb_pro/scss/free/_dropdowns.scss",
        "mdb_pro/scss/free/_input-group.scss",
        "mdb_pro/scss/free/_navbars.scss",
        "mdb_pro/scss/free/_pagination.scss",
        "mdb_pro/scss/free/_badges.scss",
        "mdb_pro/scss/free/_modals.scss",
        "mdb_pro/scss/free/_carousels.scss",
        "mdb_pro/scss/free/_forms.scss",
        "mdb_pro/scss/free/_msc.scss",
        "mdb_pro/scss/free/_footers.scss",
        "mdb_pro/scss/free/_list-group.scss",
        "mdb_pro/scss/free/_tables.scss",
        "mdb_pro/scss/free/_depreciated.scss",
        "mdb_pro/scss/free/_steppers.scss",
        "mdb_pro/scss/free/_loader.scss",
        "mdb_pro/scss/free/_treeview.scss",
        "mdb_pro/scss/addons/_datatables.scss",
        "mdb_pro/scss/addons/_datatables-select.scss",
        "mdb_pro/scss/addons/_directives.scss",
        "mdb_pro/scss/addons/_hierarchical-display.scss",
        "mdb_pro/scss/addons/_flags.scss",
        "mdb_pro/scss/pro/_variables.scss",
        "mdb_pro/scss/pro/_buttons.scss",
        "mdb_pro/scss/pro/_social-buttons.scss",
        "mdb_pro/scss/pro/_tabs.scss",
        "mdb_pro/scss/pro/_cards-basic.scss",
        "mdb_pro/scss/pro/_dropdowns.scss",
        "mdb_pro/scss/pro/_navbars.scss",
        "mdb_pro/scss/pro/_scrollspy.scss",
        "mdb_pro/scss/pro/modules/lightbox/_module.scss",
        "mdb_pro/scss/pro/_chips.scss",
        "mdb_pro/scss/pro/_msc.scss",
        "mdb_pro/scss/pro/_forms.scss",
        "mdb_pro/scss/pro/_radio.scss",
        "mdb_pro/scss/pro/_checkbox.scss",
        "mdb_pro/scss/pro/_material-select.scss",
        "mdb_pro/scss/pro/_switch.scss",
        "mdb_pro/scss/pro/_file-input.scss",
        "mdb_pro/scss/pro/_range.scss",
        "mdb_pro/scss/pro/_input-group.scss",
        "mdb_pro/scss/pro/_autocomplete.scss",
        "mdb_pro/scss/pro/_accordion-basic.scss",
        "mdb_pro/scss/pro/modules/accordion-extended/_module.scss",
        "mdb_pro/scss/pro/modules/parallax/_module.scss",
        "mdb_pro/scss/pro/_sidenav.scss",
        "mdb_pro/scss/pro/_ecommerce.scss",
        "mdb_pro/scss/pro/_carousels.scss",
        "mdb_pro/scss/pro/_blog.scss",
        "mdb_pro/scss/pro/_toasts.scss",
        "mdb_pro/scss/pro/_animations.scss",
        "mdb_pro/scss/pro/modules/charts/_module.scss",
        "mdb_pro/scss/pro/_progress.scss",
        "mdb_pro/scss/pro/_scrollbar.scss",
        "mdb_pro/scss/pro/modules/megamenu/_module.scss",
        "mdb_pro/scss/pro/_tooltips.scss",
        "mdb_pro/scss/_custom-skin.scss",
        "mdb_pro/scss/pro/_skins.scss",
        "mdb_pro/scss/pro/_depreciated.scss",
        "mdb_pro/scss/pro/picker/_default.scss",
        "mdb_pro/scss/pro/picker/_default-time.scss",
        "mdb_pro/scss/pro/picker/_default-date.scss",
        "mdb_pro/scss/pro/sections/_templates.scss",
        "mdb_pro/scss/pro/sections/_social.scss",
        "mdb_pro/scss/pro/sections/_team.scss",
        "mdb_pro/scss/pro/sections/_testimonials.scss",
        "mdb_pro/scss/pro/sections/_magazine.scss",
        "mdb_pro/scss/pro/sections/_pricing.scss",
        "mdb_pro/scss/pro/sections/_contacts.scss",
        "mdb_pro/scss/addons-pro/_steppers.scss",
        "mdb_pro/scss/addons-pro/_timeline.scss",
        "mdb_pro/scss/addons-pro/_cards-extended.scss",
        "mdb_pro/scss/addons-pro/_chat.scss",
        "mdb_pro/scss/_custom-styles.scss",
        "mdb_pro/scss/pro/_mixins.scss"
      ]
    },
    {
      "path": "sass/elements/_elements.scss",
      "imports": [
        "sass/elements/_lists.scss",
        "sass/elements/_tables.scss"
      ]
    },
    {
      "path": "sass/forms/_forms.scss",
      "imports": [
        "sass/forms/_buttons.scss",
        "sass/forms/_fields.scss"
      ]
    },
    {
      "path": "sass/layout/_content-sidebar.scss",
      "imports": [
        "sass/layout/_no-sidebar.scss"
      ]
    },
    {
      "path": "sass/layout/_sidebar-content.scss",
      "imports": [
        "sass/layout/_no-sidebar.scss"
      ]
    },
    {
      "path": "sass/media/_media.scss",
      "imports": [
        "sass/media/_captions.scss",
        "sass/media/_galleries.scss"
      ]
    },
    {
      "path": "sass/navigation/_navigation.scss",
      "imports": [
        "sass/navigation/_links.scss",
        "sass/navigation/_menus.scss"
      ]
    },
    {
      "path": "sass/site/_site.scss",
      "imports": [
        "sass/layout/_content-sidebar.scss",
        "sass/layout/_sidebar-content.scss",
        "sass/site/primary/_posts-and-pages.scss",
        "sass/site/primary/_comments.scss",
        "sass/layout/_no-sidebar.scss"
      ]
    },
    {
      "path": "sass/typography/_typography.scss",
      "imports": [
        "sass/typography/_headings.scss",
        "sass/typography/_copy.scss"
      ]
    },
    {
      "path": "sass/variables-site/_variables-site.scss",
      "imports": [
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_structure.scss",
        "sass/variables-site/_columns.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/addons-pro/_multi-range.scss",
      "imports": [
        "mdb_pro/scss/core/_colors.scss",
        "mdb_pro/scss/core/_variables.scss",
        "mdb_pro/scss/pro/_variables.scss",
        "mdb_pro/scss/pro/_mixins.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/pro/_range.scss",
      "imports": [
        "mdb_pro/scss/pro/_mixins.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/free/modules/animations-extended/animations-extended.scss",
      "imports": [
        "mdb_pro/scss/free/modules/animations-extended/_module.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/pro/modules/accordion-extended/accordion-extended.scss",
      "imports": [
        "mdb_pro/scss/pro/modules/accordion-extended/_module.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/pro/modules/cards-extended/cards-extended.scss",
      "imports": [
        "mdb_pro/scss/core/_mixins.scss",
        "mdb_pro/scss/core/_colors.scss",
        "mdb_pro/scss/core/_variables.scss",
        "mdb_pro/scss/core/_global.scss",
        "mdb_pro/scss/pro/_variables.scss",
        "mdb_pro/scss/pro/modules/cards-extended/_module.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/pro/modules/charts/charts.scss",
      "imports": [
        "mdb_pro/scss/core/_colors.scss",
        "mdb_pro/scss/core/_variables.scss",
        "mdb_pro/scss/pro/_variables.scss",
        "mdb_pro/scss/pro/modules/charts/_module.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/pro/modules/lightbox/lightbox.scss",
      "imports": [
        "mdb_pro/scss/core/_colors.scss",
        "mdb_pro/scss/core/_variables.scss",
        "mdb_pro/scss/pro/_variables.scss",
        "mdb_pro/scss/pro/modules/lightbox/_module.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/pro/modules/megamenu/megamenu.scss",
      "imports": [
        "mdb_pro/scss/pro/modules/megamenu/_module.scss"
      ]
    },
    {
      "path": "mdb_pro/scss/pro/modules/parallax/parallax.scss",
      "imports": [
        "mdb_pro/scss/pro/modules/parallax/_module.scss"
      ]
    },
    {
      "path": "js/custom.js",
      "imports": [
        "js/googlemapsapi.js",
        "js/geo-location.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "twig"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7895,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://repubblika.test/"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"cssnext\",\"minify-css\"],\"sourceMap\":true,\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 40 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"outputSuffix\":\".min\",\"compiler-babel\":{\"enabled\":true}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": true,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}