.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.1em 0;
		padding: .5em;
	}
}

.wp-caption-text {
	text-align: center;
	background-color: $darkgrey;
}
