{% set lat		= venue.venue_map.lat %}
{% set lng		= venue.venue_map.lng %}
{% set address	= venue.venue_map.address|e('wp_kses_post')|e('esc_js') %}

{% if lat %}
	{% import "sections/partials/_macros.twig" as acfmap %}
	{{ acfmap.acf_map(lat, lng, venue_name, address, null, null, 'm-0 mt-md-5') }}
	<div class="mt-2 mb-5">
		<div id="directions-btn"></div>
		<div id="ava-geolocation" class="red-text"></div>
		<script>
			let lat = '{{ lat }}';
			let lng = '{{ lng }}';
			let address = '{{ address }}';
			jQuery(function($) {
				getLocation( lat, lng, address );
			});
		</script>
	</div>
{% endif %}