body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

.oswald,
.oswald-font {
	font-family: $oswald;
}

.allerta-font {
	font-family: $sans;
}

@for $i from 1 through 20 {
	.cs-#{$i} {
		letter-spacing: $i * 0.1em;
	}
}