.white-skin {
	.transparent-card {
		box-shadow: none;
		border: 0;
		border-bottom: 1px solid $darkgrey;
		.card-header {
			background-color: transparent !important;
			border: 0;
		}
		.card-img {
			transition: all .2s ease-in-out;
			&:hover {
				box-shadow: 0 18px 32px -18px black;
				transform: translateY(-6px);
			}
		}
	}
}