// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin bp( $p, $q: null, $orient: width, $orientation: null ) {
	@if ( $q != null ) {
		@if ( $orientation == null ) {
			@media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) { @content; }
		} @else {
			@media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) and (orientation: $orientation) { @content; }
		}
	} @else {
		@if ( $orientation == null ) {
			@media (min-#{$orient}: $p * 1px) { @content; }
		} @else {
			@media (min-#{$orient}: $p * 1px) and (orientation: $orientation) { @content; }
		}
	}
}

@function transit( $el, $time:250, $ease:ease-in-out, $delay:0 ) {
	@return #{$el} #{$time}ms $ease #{$delay}s;
}

@mixin colored-links( $link, $hover: $link, $visited: $hover ) {
	a {
		color: $link; //!important;
		transition: transit( color ), transit( border-bottom, .5 );
		&:visited {
			color: $visited; //!important;
		}
		&:hover {
			color: $hover; //!important;
		}
		&.ava-nv {
			&:visited {
				color: $link; //!important;
			}
			&:hover {
				color: $hover; //!important;
			}
		}
	}
}