<div id="primary" class="content-area">
	<main id="main" class="site-main">
		<section class="error-404 not-found">
			<header class="page-header">
				<h1 class="page-title">Oops! That page can&rsquo;t be found.</h1>
			</header><!-- .page-header -->
			<div class="page-content">
				<p>It looks like nothing was found at this location. Maybe try one of the links below or a search?</p>
				{{ fn('get_search_form') }}
			</div><!-- .page-content -->
		</section><!-- .error-404 -->
	</main><!-- #main -->
</div><!-- #primary -->
