{% extends 'wrappers/head-foot-wrap.twig' %}

{% set disable_backimg = post.meta('disable') %}
{% set is_active = post.meta('active') %}

{% set img = Image(post.meta('image')).src|resize(1110,500,'center') %}

{% block header %}
	{% if is_active %}
		<div class="position-relative">
			<img src="{{ img }}">
			<h2 class="no-intro-title position-absolute float-left fixed-bottom m-0 pl-3 py-1">{{ post.title }}</h2>
		</div>
		<div class="my-5"></div>
	{% endif %}
{% endblock %}

{% block content %}
    {{ post.content }}
{% endblock %}

{% block builder %}
    {% include 'sections/partials/content-builder.twig' %}
{% endblock %}