.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		//display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			right: -999em;
			z-index: 99999;
			background: $grey;

			ul {
				right: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					right: 100%;
				}
			}

			a {
				width: 200px;
				padding: .5em;
				padding-left: 1em;
				.fas {
					position: absolute;
					left: 5px;
					top: 50%;
					margin-top: -7px;
				}
			}

			:hover > a,
			.focus > a {
				background-color: $darkgrey;
				//border: 1px solid transparent;
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			right: 0;
		}
	}

	li {
		float: left;
		position: relative;

		position: relative;

		&:hover > a,
		&.focus > a {
			//border: 1px solid $red;
			//margin: -1px;
		}
	}

	a {
		display: block;
		text-decoration: none;
		font-family: $oswald;
		text-transform: uppercase;
	}

	@include colored-links( $red, black, $red );

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.button-collapse {
	right: 0;
	z-index: -996 !important;
}

#sidenav-overlay {
	z-index: 1031
}


.side-nav {
	.nav-drop-item {
		padding-left: 10px;
		ul {
			padding-left: 10px;
		}
	}
	li {
		width: 100%;
		a {
			border-bottom: 1px solid $darkgrey;
			text-transform: uppercase;
			font-family: $oswald;
		}
	}
	.nav-drop {
		a {
			width: unset;
			//width: 200px;
		}
	}
	@include colored-links( $red, black, $red );
}

.main-navigation {
	.collapsing {
		li {
			display: none;
		}
	}
	.home & {
		background-color: transparent;
		box-shadow: none;
	}
}